<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教辅系统</title>

    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/admin/user/css/user.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/admin/user/css/public.css}"/>
</head>
<body>
<div id="app">

    <el-menu  mode="horizontal":default-active="activeIndex">
        <el-menu-item index="0" id="logo">教辅系统</el-menu-item>
        <el-menu-item index="1"><a href="/TeachingAssistantSystem/teacher">首页</a></el-menu-item>
        <el-menu-item index="2"><a href="/TeachingAssistantSystem/teachcourse">我教授的课程</a></el-menu-item>
        <el-menu-item index="3"><a href="/TeachingAssistantSystem/appointment">预约</a></el-menu-item>

        <el-menu-item id="author" index="7">
            <img class="el-tooltip" th:src="@{../../TeachingAssistantSystem/img/userlogo.jpeg}"/>
            <el-dropdown>
                <span class="el-dropdown-link">{{username}}<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/TeachingAssistantSystem/login">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <div id="main">
        <el-col>
            <el-card shadow="hover">

                <!-- 功能按钮 -->
                <div>
                    <el-row>
                        <el-button @click="saveBtn" type="primary" icon="el-icon-plus">新增</el-button>
                    </el-row>
                    <span class="el-tag avue-tip">
                    <i class="el-icon-info"></i>
                    <span class="name">
                        当前表格已选择
                        <span class="count">{{count}}</span>
                        项
                    </span>
                    <span @click.prevent="clearSelect()" style="cursor:pointer">&nbsp;&nbsp;清空</span>
                    </span>
                </div>

                <!-- 列表 -->
                <el-table
                        ref="appointments"
                        :data="appointments"
                        border
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="selectChange">
                    <el-table-column
                            ref="selection"
                            align="center"
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="aId"
                            align="center"
                            sortable
                            fixed
                            label="预约ID"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="start"
                            label="起始日期"
                            width="240">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="end"
                            label="结束日期"
                            width="240">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="isBooked"
                            label="是否可预约"
                            width="120">
                    </el-table-column>
                    <el-table-column label="操作" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.row.aId)">编辑
                            </el-button>
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handle(scope.row.aId)">查看预约详情
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
        </el-col>
    </div>

    <!-- footer -->
    <div class="footer">
        <el-container>
            <el-footer>
                <el-row :gutter="20">
                    <el-col :span="8" :offset="10">
                        <div class="footer-inner">
                            <div class="copyright">&copy; 2018 &mdash; <span itemprop="copyrightYear">2019</span>
                                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                                <span class="author" itemprop="copyrightHolder">软件学院</span>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>

    <!-- 新增按钮的dialog -->
    <el-dialog title="添加信息" :visible.sync="showSave" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <!--
            <el-form-item prop="start" label="起始日期" class="is-required"
                          :rules="[{ required: true, message: '起始日期不能为空'}]">
                <el-input v-model="editor.start" placeholder="起始日期"
                          auto-complete="off" type="datetime-local"></el-input>
            </el-form-item>
            <el-form-item prop="end" label="结束日期" class="is-required"
                          :rules="[{ required: true, message: '结束日期不能为空'}]">
                <el-input v-model="editor.end" placeholder="结束日期"
                          auto-complete="off" type="datetime-local"></el-input>
            </el-form-item>
            -->
            <el-form-item prop="start" label="起始日期" class="is-required"
                          :rules="[{ required: true, message: '起始日期不能为空'}]">
                <el-date-picker type="datetime" placeholder="起始日期"
                                v-model="editor.start" auto-complete="off">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="end" label="结束日期" class="is-required"
                          :rules="[{ required: true, message: '结束日期不能为空'}]">
                <el-date-picker type="datetime" placeholder="结束日期"
                                v-model="editor.end" auto-complete="off">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="isBooked" label="是否可预约" class="is-required"
                          :rules="[{ required: true, message: '是否可预约不能为空'}]">
                <el-select v-model="editor.isBooked" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showSave = false">取 消</el-button>
            <el-button type="primary" @click="save('editor')">新增</el-button>
        </div>
    </el-dialog>

    <!-- 编辑按钮的dialog -->
    <el-dialog title="编辑信息" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">

        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <!--
            <el-form-item prop="start" label="起始日期" class="is-required"
                          :rules="[{ required: true, message: '起始日期不能为空'}]">
                <el-input v-model="editor.start" placeholder="起始日期"
                          auto-complete="off" type="datetime-local"></el-input>
            </el-form-item>
            <el-form-item prop="end" label="结束日期" class="is-required"
                          :rules="[{ required: true, message: '结束日期不能为空'}]">
                <el-input v-model="editor.end" placeholder="结束日期"
                          auto-complete="off" type="datetime-local"></el-input>
            </el-form-item>
            -->
            <el-form-item prop="start" label="起始日期" class="is-required"
                          :rules="[{ required: true, message: '起始日期不能为空'}]">
                <el-date-picker type="datetime" placeholder="起始日期"
                                v-model="editor.start" auto-complete="off">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="end" label="结束日期" class="is-required"
                          :rules="[{ required: true, message: '结束日期不能为空'}]">
                <el-date-picker type="datetime" placeholder="结束日期"
                                v-model="editor.end" auto-complete="off">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="isBooked" label="是否可预约" class="is-required"
                          :rules="[{ required: true, message: '是否可预约不能为空'}]">
                <el-select v-model="editor.isBooked" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">取 消</el-button>
            <el-button type="primary" @click="sureEdit('editor')">修改</el-button>
        </div>
    </el-dialog>

</div>
</body>

<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/teacher/appointment/js/appointment.js}"></script>

</html>