<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教辅系统</title>

    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/admin/user/css/user.css}"/>
    <link rel="stylesheet" th:href="@{../../TeachingAssistantSystem/admin/user/css/public.css}"/>
</head>
<body>
<div id="app">

    <el-menu  mode="horizontal":default-active="activeIndex" @select="handleSelect">
        <el-menu-item index="0" id="logo">教辅系统</el-menu-item>
        <el-menu-item index="1"><a href="/TeachingAssistantSystem/teacher">首页</a></el-menu-item>
        <el-submenu index="2">
            <template slot="title">文件上传</template>
            <el-menu-item index="2-1"><a href="/TeachingAssistantSystem/uploadcourseware">上传课件</a></el-menu-item>
            <el-menu-item index="2-2"><a href="/TeachingAssistantSystem/uploadvideo">上传视频</a></el-menu-item>
        </el-submenu>
        <el-submenu index="3">
            <template slot="title">发布作业</template>
            <el-menu-item index="3-1"><a href="/TeachingAssistantSystem/choicequestion">发布选择题</a></el-menu-item>
            <el-menu-item index="3-2"><a href="/TeachingAssistantSystem/simplequestion">发布简答题</a></el-menu-item>
            <el-menu-item index="3-3"><a href="/TeachingAssistantSystem/homework">发布作业</a></el-menu-item>
        </el-submenu>
        <el-submenu index="4">
            <template slot="title">到课情况</template>
            <el-menu-item index="4-1"><a href="/TeachingAssistantSystem/lesson">课堂到课情况</a></el-menu-item>
            <el-menu-item index="4-2"><a href="/TeachingAssistantSystem/attendlessonrecord">学生到课记录</a></el-menu-item>
        </el-submenu>
        <el-menu-item index="5"><a href="/TeachingAssistantSystem/selectcourserecord">选课记录</a></el-menu-item>
        <el-submenu index="6">
            <template slot="title">总结及反馈</template>
            <el-menu-item index="6-1"><a href="/TeachingAssistantSystem/coursesummary">课程总结</a></el-menu-item>
            <el-menu-item index="6-2"><a href="/TeachingAssistantSystem/coursecommentrecord">课程反馈</a></el-menu-item>
            <el-menu-item index="6-3"><a href="/TeachingAssistantSystem/coursereviewrecord">成绩复议</a></el-menu-item>
        </el-submenu>

        <el-menu-item id="author" index="7">
            <img class="el-tooltip" th:src="@{../../TeachingAssistantSystem/img/userlogo.jpeg}"/>
            <el-dropdown>
                <span class="el-dropdown-link">{{username}}<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/TeachingAssistantSystem/login">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <!-- 功能按钮 -->
                <div>
                    <el-row>
                        <el-button @click="saveBtn" type="primary" icon="el-icon-plus">新增</el-button>
                    </el-row>
                    <span class="el-tag avue-tip">
                    <i class="el-icon-info"></i>
                    <span class="name">
                        当前表格已选择
                        <span class="count">{{count}}</span>
                        项
                    </span>
                    <span @click.prevent="clearSelect()" style="cursor:pointer">&nbsp;&nbsp;清空</span>
                </span>
                </div>
                <!-- 列表 -->
                <el-table
                        ref="lessons"
                        :data="lessons"
                        border
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="selectChange">
                    <el-table-column
                            ref="selection"
                            align="center"
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="lId"
                            align="center"
                            v-if="hideRow"
                            sortable
                            fixed
                            label="课堂ID"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="lName"
                            align="center"
                            sortable
                            fixed
                            label="课程名"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="actualNumber"
                            sortable
                            label="实到人数"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="reachedNumber"
                            sortable
                            label="应到人数"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="lTime"
                            sortable
                            label="上课时间"
                            width="200"
                            show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="signCode"
                            sortable
                            label="签到码"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="start"
                            sortable
                            label="签到开始时间"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            prop="end"
                            sortable
                            label="签到结束时间"
                            width="100">
                    </el-table-column>
                    <el-table-column label="操作" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleList(scope.row.lId)">到课学生名单
                            </el-button>
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.row.lId)">编辑
                            </el-button>
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handle(scope.row.lId)">缺课学生名单
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <br/>
                <br/>
            </el-card>
        </el-col>
    </div>

    <!-- footer -->
    <div class="footer">
        <el-container>
            <el-footer>
                <el-row :gutter="20">
                    <el-col :span="8" :offset="10">
                        <div class="footer-inner">
                            <div class="copyright">&copy; 2018 &mdash; <span itemprop="copyrightYear">2019</span>
                                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                                <span class="author" itemprop="copyrightHolder">软件学院</span>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>

    <!-- 新增按钮的dialog -->
    <el-dialog title="添加信息" :visible.sync="showSave" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="lTime" label="上课时间" class="is-required"
                          :rules="[{ required: true, message: '上课时间不能为空'}]">
                <el-date-picker type="datetime" placeholder="上课时间"
                                v-model="editor.lTime" auto-complete="off">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="signCode" label="签到码" class="is-required"
                          :rules="[{ required: true, message: '签到码不能为空'}]">
                <el-input v-model="editor.signCode" placeholder="签到码"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showSave = false">取 消</el-button>
            <el-button type="primary" @click="save('editor')">新增</el-button>
        </div>
    </el-dialog>

    <!-- 编辑按钮的dialog -->
    <el-dialog title="编辑信息" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="editor" status-icon ref="editor"
                 label-width="100px">
            <el-form-item prop="signCode" label="签到码" class="is-required"
                          :rules="[{ required: true, message: '签到码不能为空'}]">
                <el-input v-model="editor.signCode" placeholder="签到码"
                          auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">取 消</el-button>
            <el-button type="primary" @click="sureEdit('editor')">修改</el-button>
        </div>
    </el-dialog>
</div>
</body>

<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../TeachingAssistantSystem/teacher/lesson/js/lesson.js}"></script>
</html>