<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教辅系统</title>

    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../admin/user/css/user.css}"/>
    <link rel="stylesheet" th:href="@{../../admin/user/css/public.css}"/>
    <link rel="stylesheet" th:href="@{../../admin/index/css/index.css}"/>
</head>
<body>
<div id="app">

    <el-menu  mode="horizontal":default-active="activeIndex" @select="handleSelect">
        <el-menu-item index="0" id="logo">教辅系统</el-menu-item>
        <el-menu-item index="1"><a href="/teacher">首页</a></el-menu-item>
        <el-menu-item index="2"><a href="/teachcourse">我教授的课程</a></el-menu-item>
        <el-menu-item index="3"><a href="/appointment">预约</a></el-menu-item>

        <el-menu-item id="author" index="7">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">{{username}}<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/login">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>

    <div id="main">
        <el-row :gutter="20">
            <el-col :span="20" :offset="9">
                <el-container>
                    <div>
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南大软件学院教辅系统</h3>
                    </div>
                </el-container>
            </el-col>
        </el-row>
    </div>

    <!-- footer -->
    <div class="footer">
        <el-container>
            <el-footer>
                <el-row :gutter="20">
                    <el-col :span="8" :offset="10">
                        <div class="footer-inner">
                            <div class="copyright">&copy; 2018 &mdash; <span itemprop="copyrightYear">2019</span>
                                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                                <span class="author" itemprop="copyrightHolder">软件学院</span>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </div>

</div>

</body>


<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../teacher/teacher/js/teacher.js}"></script>
</html>